.App {
  text-align: center;
}

main {
  padding: 15px;
}

.title,
.sub-title {
  margin-bottom: 10px;
}

.search-bar {
  width: 200px;
  margin-left: 10px;
}

.search-button {
  margin-left: 10px;
}

.margin-right-small {
  margin-right: 10px;
}
